*,
*::before,
*::after {
    box-sizing: border-box;
    -moz-box-sizing:border-box; /* Firefox */
    -webkit-box-sizing:border-box; /* Safari */
}

*::-webkit-scrollbar {
    display: none;
}

body {
    margin: 0;
    font-family: "SFUI", Helvetica, sans-serif;
}

/* 
header>div, nav, .expolist-expo, .expo {
    border: #FFF 1px outset;
    margin: .5rem; padding: .5rem;
}
.link img, .bottom-button img {
    width: 2rem;
} */


#user_pic {
    width: 68px;
    height: 68px;
    border-radius: 100%;
    z-index: 999;
}

.user_profile {
    -webkit-box-align: baseline;
    align-self: flex-end;
    text-align: center;
    margin: 0;
    font-family: 'SFUI';
    font-weight: bold;
    font-size: 1.5rem;
    z-index: 999;
    display: flex;
    align-items: center;
    margin-bottom: 1.5rem;
}

#user_name {
    z-index: 999;
    color: #ffffff;
    font-weight: bold;
    font-size: 1.375rem;
    margin: 0 0.8rem;
}

.back {
    position: absolute;
    top: 1rem;
    left: 1rem;
    z-index: 999;
    display: block;
}
.back img {
    width: 3rem;
}
.settings {
    position: absolute;
    top: 1rem;
    right: 1rem;
    z-index: 999;
    display: block;
}

.gear {
    width: 2.5rem;
}

.add {
    border: none;
    background-color: #DB0500;
    border-radius: 100%;
    width: 23px;
    height: 23px;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 999;
    margin-left: -18px;
    margin-top: -48px;
    /* top: 0; */
    /* position: absolute; */
}
.add img {
    transform: scale(1.25);
    margin-bottom: 1px;
}
.add.added {
    background-color: #FFFFFF;
}
.add.added img {
    filter: brightness(0.5) sepia(1) saturate(10000%);
}
header {
    --ideal-top: -345px;
}
header.fix {
    width: 100vw;
    position: fixed;
    top: var(--ideal-top);
    z-index: 10005;
}
/* .fix + .expolist .expo-list {
    padding-top: 784px;
}
.fix + .expolist .grid {
    padding-top: 640px;
} */

.head-header {
    position: relative;
    z-index: 1000;
    transform: translateY(-1rem);
    background-color: #fff;
    border-radius: 1rem 1rem 0 0;
}

.head-name {
    height: calc(96vh - 18rem);
    display: flex;
    position: relative;
    justify-content: center;
    align-items: flex-end;
    background-color: #cccccc;
    /* height: 63vh; */
    /* Do not repeat the image */
    /* object-fit: cover;  */
    background-position: center;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    overflow: hidden;
}

.head-name::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: calc(96vh - 18rem);
    background: linear-gradient( 
        180deg
         , rgba(219, 13, 21, 0.25) 0%, rgba(0, 0, 0, 0.7) 0%, rgba(71, 71, 71, 0) 23.8%, rgba(255, 255, 255, 0) 41.8%, rgba(0, 0, 0, 0.28) 57.2%, rgba(0, 0, 0, 0.62) 64.6%, rgba(0, 0, 0, 1) 85%);
    opacity: .7;
    z-index: 997;
    pointer-events: none;
}

.expolist {
    border-radius: 15px 15px 0px 0px;
    background-color: #ffffff;
    position: relative;
    top: -15px;
    z-index: 1001;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* justify-content: center; */
    padding-bottom: 50px;
}

.expo {
    display: block;
}

.head-infos {
    width: 95vw;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 1rem 0.5rem;
}

.expo-counter {
    width: 20vw;
}

.expo-counter > .counter {
    font-weight: bold;
    font-size: 2.3125rem;
}

.expo-counter > .counter-tag {
    font-weight: bold;
    font-size: 0.9375rem;
}

.sub-counter {
    text-align: center;
}

.sub-counter > .counter {
    font-weight: 500;
    font-size: 1.25rem;
}

.sub-counter > .counter-tag {
    font-weight: 500;
    font-size: 0.6875rem;
}

nav {
    width: 95vw;
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding-bottom: 1rem;
}

.nav-button {
    background-color: #ffffff;
    border: none;
    color: #999999;
    font-family: "SFUI", Helvetica, sans-serif;
    font-size:1.0625rem;
    font-weight: 500;
}

.selected {
    color: #000000 !important;
}

:root {
    --size: 33.33%;
    --gap: 5px;
}
.grid {
    display: grid;
    grid-template-columns: repeat(3, 3fr);
    grid-auto-rows: calc(var(--size)/2 - var(--gap)/2);
    grid-auto-rows: calc(30vw/2);
    row-gap: var(--gap);
    column-gap: var(--gap);
    /* width: calc(100% - 2rem - 2*var(--gap)); */
    width: 100%;
    padding-left: 16px;
    padding-right: 16px;
}

.expo1,
.expo2 {
    width: var(--size);
    background-color: #cccccc;
    color: #ffffff;
    text-decoration: none;
    border-radius: 15px;
    position: relative;
    display: flex;
    font-size: .75rem;
}

.expo1 {
    grid-row: auto / span 2;
    width: 100%;
    height: 100%;
    position: relative;
    z-index: 996;
}

.expo1::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0) 50%, rgba(0, 0, 0, 1) 75%);
    opacity: .7;
    z-index: 999;
    pointer-events: none;
    border-radius: 15px;
}

.expo2::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0) 50%, rgba(0, 0, 0, 1) 75%);
    opacity: .7;
    z-index: 999;
    pointer-events: none;
    border-radius: 15px;
}

.expo2 {
    grid-row: auto / span 3;
    width: 100%;
    height: 100%;
    position: relative;
    z-index: 996;
}

.expoimg {
    width: 100%;
    height: 100%;
    /* min-height: 110px; */
    border-radius: 15px;
    position: absolute;
    z-index: 997;
    object-fit: cover;
}

.expo-p {
    z-index: 1000;
    position: absolute;
    align-self: flex-end;
    margin: 0;
    padding: 0.5rem;
}

.icon-img {
    width: 25px;
    filter: drop-shadow(0 0 1px #000);
}

.expo-long {
    border-radius: 15px;
    background-color: black;
    color: #ffffff;
    width: 90vw;
    position: relative;
    height: 100px;
    margin-bottom: 0.5rem;
    display: flex;
    font-size: .75rem;
}


.expo-long::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0) 50%, rgba(0, 0, 0, 1) 75%);
    opacity: .7;
    z-index: 999;
    pointer-events: none;
    border-radius: 15px;
}

.long-text {
    align-self: flex-end;
    position: absolute;
    z-index: 1000;
    width: 80vw;
    padding: .5rem;
}

.long-text p {
    margin: 0;
}

.long-text h3 {
    margin: 0;
}

.link {
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: .75rem 1rem;
    right: 0; bottom: 0;
    z-index: 1000;
    text-decoration: none;
    color: #ffffff;
    font-size: 0.625rem;
}

.head-calendar {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 90vw;
    margin: auto;
    background-color: #F8F8F8;
    border-radius: 15px 15px 0 0;
    padding-bottom: 1rem;
}

.head-calendar.hide {
    display: none;
}

.cal-daylist {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    text-align: center;
}

.cal-days {
    display: flex;
    flex-direction: initial;
    justify-content: space-around;
}

.daynum, .dayname {
    display: block;
    width: 50px;
    margin: 0.35rem 0rem;
}

.dayname {
    font-size: 0.8125rem;
}

.daynum {
    font-size: 1.0625rem;
}

.daynum.focus {
    font-weight: bold;
}

.expo-list {
    background: linear-gradient(0deg, #FFFFFF 45%, #F8F8F8 50%);
    background-attachment: fixed;
    background-position: top;
}

.bottom-bar {
    position: fixed;
    bottom: 0;
    z-index: 1010;
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: rgb(249,249,249,0.95);
    -webkit-backdrop-filter: blur(4px);
    backdrop-filter: blur(4px);
    width: 100vw;
    height: 50px;
    padding-bottom: 0;
    padding-bottom: env(safe-area-inset-bottom,0);
}

.bottom-button {
    font-family: SFUI;
    font-weight: 500;
    font-size: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-decoration: none;
    color: #000000;
    margin: 5px 0;
}

.bottom-button .icon-img {
    filter: none;
}

.hide {
    display: none;
}