@font-face {
    font-family: 'SFUI';
    src: url('SFUIText-Bold.woff2') format('woff2'),
        url('SFUIText-Bold.woff') format('woff'),
        url('SFUIText-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'SFUI';
    src: url('SFUIText-Heavy.woff2') format('woff2'),
        url('SFUIText-Heavy.woff') format('woff'),
        url('SFUIText-Heavy.ttf') format('truetype');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'SFUI';
    src: url('SFUIText-BoldItalic.woff2') format('woff2'),
        url('SFUIText-BoldItalic.woff') format('woff'),
        url('SFUIText-BoldItalic.ttf') format('truetype');
    font-weight: bold;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'SFUI';
    src: url('SFUIText-HeavyItalic.woff2') format('woff2'),
        url('SFUIText-HeavyItalic.woff') format('woff'),
        url('SFUIText-HeavyItalic.ttf') format('truetype');
    font-weight: 900;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'SFUI';
    src: url('SFUIText-Light.woff2') format('woff2'),
        url('SFUIText-Light.woff') format('woff'),
        url('SFUIText-Light.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'SFUI';
    src: url('SFUIText-LightItalic.woff2') format('woff2'),
        url('SFUIText-LightItalic.woff') format('woff'),
        url('SFUIText-LightItalic.ttf') format('truetype');
    font-weight: 300;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'SFUI';
    src: url('SFUIText-Medium.woff2') format('woff2'),
        url('SFUIText-Medium.woff') format('woff'),
        url('SFUIText-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'SFUI';
    src: url('SFUIText-MediumItalic.woff2') format('woff2'),
        url('SFUIText-MediumItalic.woff') format('woff'),
        url('SFUIText-MediumItalic.ttf') format('truetype');
    font-weight: 500;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'SFUI';
    src: url('SFUIText-Regular.woff2') format('woff2'),
        url('SFUIText-Regular.woff') format('woff'),
        url('SFUIText-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'SFUI';
    src: url('SFUIText-RegularItalic.woff2') format('woff2'),
        url('SFUIText-RegularItalic.woff') format('woff'),
        url('SFUIText-RegularItalic.ttf') format('truetype');
    font-weight: normal;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'SFUI';
    src: url('SFUIText-SemiboldItalic.woff2') format('woff2'),
        url('SFUIText-SemiboldItalic.woff') format('woff'),
        url('SFUIText-SemiboldItalic.ttf') format('truetype');
    font-weight: 600;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'SFUI';
    src: url('SFUIText-Semibold.woff2') format('woff2'),
        url('SFUIText-Semibold.woff') format('woff'),
        url('SFUIText-Semibold.ttf') format('truetype');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

