*{
    box-sizing: border-box;
}

body {
    background: url('/assets/img/fond_inscription.png') no-repeat center center fixed;
    background-size: cover;
    font-family: 'SFUI', Helvetica, sans-serif;
    margin: 0;
    padding: 0;
    z-index: 0;
    position: relative;
    min-height: 100vh;
    
}

body:before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height:100%;
    background-color: rgba(0,0,0);
    opacity: 0.43;
    z-index: 1;
}

main {
    z-index: 2;
    position: relative;
    margin: 0;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    margin-top: auto;
    margin-bottom: auto;
}

.back {
    position: absolute;
    top: 3rem;
    left: 1rem;
}
.back img {
    width: 3rem;
}

.form-box {
    background: #DB0500;
    position: relative;
    border-radius: 15px;
    box-shadow: 5px 5px 99px #000000;
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 90vw;
    margin-top: 28vh;
    max-width: 270px;
    border: none;
}

.signup {
    margin-top: 9rem;
}

form {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.text {
    color: #ffffff;
    width: 90%;
    font-weight: bold;
    font-size: 0.9375rem;
    margin-top: 0;
}

fieldset.form-box {
    margin-bottom: 2rem;
}

.form-outbox{
    z-index: 3;
    display: flex;
    flex-direction: column;
    color: #ffffff;
    padding: 0 2rem;
}

.form-outbox a {
    color: #ffffff;
}

.tos {
    width: 280px;
    font-weight: bold;
}

.check {
    flex-direction: row;
    justify-content: space-around;
    margin-bottom: 2rem;
}

.form-check[type="checkbox"] {
    -webkit-appearance: none;
    -moz-appearance: none;
    -ms-appearance: none;
    appearance: none;
    border: 3px solid #ffffff;
    border-radius: 10px;
    min-width: 30px;
    min-height: 30px;
    max-width: 30px;
    max-height: 30px;
    margin: 0;
    margin-right: 0.75rem;
    padding: 0;
    position: relative;
}

.form-check[type="checkbox"]:checked {
    background: #ffffff;
}

.form-button{
    font-weight: bold;
    color: #ffffff;
    text-decoration: none;
    padding: 0.6rem;
    border:3px solid #ffffff;
    border-radius: 11px;
    font-size: 1.0625rem;
    background: none;
    z-index: 3;
    min-width: 136px;
}

#sign .form-button {
    margin-bottom: 3rem !important;
}

.form-outbox .form-link {
    margin-bottom: 1rem;
}

.form-link {
    font-weight: bold;
    font-size: 0.9375rem;
    text-decoration: none;
    color: #ffffff;
    margin: 1rem 0;
    margin-bottom: 2rem;
    text-align: center;
}

.form-link[href="./mail.html"] {
    font-size: 0.8125rem;
}

.form-outbox {
    font-size: 0.9375rem;
    padding: 0 2rem;
    width: 95vw;
}

.form-text {
    display: flex;
    align-items: center;
    position: relative;
    width: 100%;
    margin-bottom: 1rem;
}

.age {
    margin-bottom: 0;
} 

.note {
    margin: 0.75rem 0;
    font-weight: bold;
    font-size: 0.75rem;
    color: #ffffff;
    margin-left: 0.25rem;
}

.form-intext {
    width: 55%;
    left: 0;
    margin-bottom: 0;
}

.form-suffix {
    position: absolute;
    left: 70px;
    padding: 0.7rem 0.9rem;
    font-weight: bold;
    font-size: 1.0625rem;
}

.form-suffix::after {
    content: '';
    height: 25px;
    width: 1px;
    position: absolute;
    left: 0;
    top: 9px;
    background-color: #000000;
}

.small-title {
    font-size: 1.0625rem;
    color: #ffffff;
    margin-top: 0;
}

input {
    border: none;
    border-radius: 10px;
    padding: 0.7rem 0.9rem;
    font-weight: 500 !important;
    width: 95%;
    margin-bottom: 1rem;
}

::placeholder {
    color: #B5B5B5;
    opacity: 1; /* <== firefox */
}

input:nth-child(2) {
    margin-bottom: 1rem;
}

input[type="email"] {
    margin-bottom: 1rem;
}

input[name="pass2"] {
    font-size: 0.75rem;
    margin-bottom: 0.75rem;
}

input, button {
    font: inherit;
    font-size: 1.0625rem;
}

.big-title {
    color: #ffffff;
    align-self: flex-start;
    margin-top: 0;
    margin-left: 0.5rem;
}

.mt {
    margin-top: 1rem;
}

.message {
    margin-bottom: 1rem;
    text-align: center;
}