*,
*::before,
*::after {
    box-sizing: border-box;
    -moz-box-sizing:border-box; /* Firefox */
    -webkit-box-sizing:border-box; /* Safari */
}

body {
    margin: 0;
}

*::-webkit-scrollbar {
    display: none;
}

a {
    text-decoration: none;
}

.screen {
    padding-bottom: 50px;
    margin-top: -15px;
}

.banner {
    margin: 0;
    width: 100vw;
    height: 65px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgb(81,81,81);
    background: linear-gradient(0deg, rgba(81,81,81,1) 0%, rgba(234,234,234,1) 26%, rgba(255,255,255,1) 100%);
    position: relative;
    z-index: -1;
}

.logo {
    width: 77px;
    top: 10px;
    position: fixed;
    z-index: 0;
}

.content {
    margin: 0;
}

.welcome {
    margin: 0;
    font-family: SFUI;
    font-style: normal;
    font-weight: 500;
    font-size: 1.375rem;
    z-index: 999;
    position: absolute;
    align-self: flex-start;
    padding-top: 2rem;
    padding-left: 1rem;
    padding-right: 1rem;
    color: #ffffff;
}

.top-content {
    height: 74vh;
    display: flex;
}

.top-expo-list {
    background-color: aliceblue;
    overflow-x: auto;
    display: flex;
    scroll-snap-type: x mandatory;
    overflow-x: scroll;
    overflow-y: hidden;
    height: 100vh;
    border-radius: 18px 18px 0 0;
    margin-left: 0;
}

.top-expo {
    position: relative;
    min-width: 100vw;
    min-height:100vh;   /* min-height: : calc(100 * var(--vh)); */
        /* background-position: center; */
    /* background-attachment: fixed; */
    /* background-repeat: no-repeat;
    background-size: cover; */
    display: flex;
    overflow: hidden;
    min-width: 100vw;
    scroll-snap-align: start;
}

.top-expo::after {
    content: ""; 
    position: absolute;
    /* top: 0; */
    left: 0;
    width: 100%;
    min-height: 100vh;
    background : linear-gradient(180deg, rgba(219, 5, 0, 0) 0%, rgba(0, 0, 0, 0.86) 0%, rgba(0, 0, 0, 0.4) 12.4%, rgba(0, 0, 0, 0.26) 16.9%, rgba(0, 0, 0, 0.1) 23.2%, rgba(255, 255, 255, 0) 30.3%, rgba(255, 255, 255, 0.28) 57.2%, rgba(255, 226, 226, 0.52) 74.6%, rgba(255, 255, 255, 1) 100%),
    linear-gradient(180deg, rgba(219, 5, 0, 0) 0%, rgba(0, 0, 0, 0.86) 0%, rgba(0, 0, 0, 0.4) 12.4%, rgba(0, 0, 0, 0.26) 16.9%, rgba(0, 0, 0, 0.1) 23.2%, rgba(255, 255, 255, 0) 30.3%, rgba(255, 255, 255, 0.28) 57.2%, rgba(255, 226, 226, 0.52) 74.6%, rgba(255, 255, 255, 1) 100%);
    /* border-radius : 18px 18px 0px 0px; */
    z-index: 997;
    pointer-events: none;
}


.top-expo-text {
    z-index: 999;
    position: relative;
    bottom: 33vh;
    align-self: flex-end;
    padding-left: 1rem;
}

.top-expo-text .hasImg {
    display: flex;
    justify-content: center;
    overflow: hidden;
    min-width: 100vw;
    scroll-snap-align: start;
}

.top-expo-text h3 {
    font-family: SFUI;
    font-style: normal;
    font-weight: bold;
    font-size: 1.375rem;
    margin:0.5rem 0;
}

.top-expo-text p {
    font-family: SFUI;
    font-style: normal;
    font-weight: normal;
    font-size: 1.0625rem;
    margin-bottom:1rem;
    margin-top:0;
}

.top-expo-micro-list {
    display: flex;
    align-items: center;
    flex-wrap: nowrap;
    overflow: auto;
    white-space: wrap;
    -webkit-overflow-scrolling: touch;
    position: absolute;
    align-self: flex-end;
    max-width: 100vw;
    overflow-y: hidden;
    position: relative;
    bottom: 5vh;
    z-index: 999;
}

.top-expo-like {
    position: relative;
    align-self: flex-end;
    bottom: 19rem;
    right: 1.5rem;
    z-index: 999;
    width: 1.5rem;
    height: 1.5rem;
    display: block;
    border: none;
    background: none;
    background-image: url(/assets/icons/icone_filaire_coeur_blanc.svg);
    z-index: 999;
}

.top-expo-micro-buttons .more {
    bottom: 15px;
    position: absolute;
    font-weight: 500;
    font-size: 0.9375rem;
}

.top-expo-micro {
    overflow: hidden;
    flex: 0 0 auto;
    width: 110px;
    height: 110px;
    border-radius: 15px;
    background-color: black !important;
    margin-left: 5px;
    margin-bottom: 5px;
    padding: 0.5rem;    
    display: flex;
    align-items: flex-end;
    position: relative;
}
.topExpoFocus:first-child {
    margin-left: 16px;
}

.top-expo-micro::before {
    content: "";
    position: absolute;
    width: 110px;
    height: 110px;
    top: 0;
    left: 0;
    border-radius: 15px;
    background-color: rgba(0,0,0,0.25);
    z-index: 0;
}

.topExpoFocus::before {
    content: "";
    position: absolute;
    width: 140px;
    height: 140px;
    top: 0;
    left: 0;
    border-radius: 15px;
    background-color: rgba(0,0,0,0.25);
    z-index: 0;
}



.topExpoFocus {
    width: 140px; height: 140px;
}

.top-expo-micro-text {
    z-index: 999;
}

.top-expo-micro-text h3 {
    font-size: 0.938rem;
    font-family: SFUI;
    font-style: bold;
    margin: 0;
    color: #ffffff;
    z-index: 999;
}
.top-expo-micro-text p {
    font-size: 0.6878rem;
    font-family: SFUI;
    font-style: normal;
    margin: 0;
    color: #ffffff;
    z-index: 999;
}

/* Il va falloir refaire cette partie là pour que ça marche */
.top-expo-micro-buttons {
    display: none;
    font-family: SFUI;
    font-style: normal;
    font-weight: normal;
}
.topExpoFocus .top-expo-micro-text {
    display: none;
}
.topExpoFocus .top-expo-micro-buttons {
    display: block;
    width: 100%;
    align-self: center;
}
.topExpoFocus .buttons {
    display: flex;
    justify-content: space-between;
    margin-bottom: .5rem;
    margin-right: .5rem;
}
.topExpoFocus .buttons>* {
    padding: 1rem;
    padding: 0;
    font-size: 12px;
    z-index: 999;
}

.hasImg {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.icon-img {
    width: 30px;
    filter: drop-shadow(0 0 1px #000);
}

.icon-micro {
    width: 30px;
    filter: drop-shadow(0 0 1px #000);
}

.friend-icon {
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;
    margin-right: 0.50rem;
}

.friend-title h2{
    font-size: 0.9375rem;
    font-family: SFUI;
    font-weight: 500;
    margin-left: 1rem;
}

.friend-carousel {
    display: flex;
    /* flex-direction: column; */
    flex-wrap: nowrap;
    overflow: auto;
    white-space: wrap;
    -webkit-overflow-scrolling: touch;
    padding-left: 1rem;
    margin-bottom: 1rem;
    padding-top: 5px;
}

.friend-list {
    height: auto;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    overflow: auto;
    white-space: wrap;
    -webkit-overflow-scrolling: touch;
    margin-top: -10px;
    background-color: #ffffff;

}

.friend-img {
    border-radius: 100%;
    width: 70px;
    height: 70px;
    margin-bottom: 0.25rem;
    box-shadow: 0px 0px 2px 1px rgba(0,0,0,0.35);
}

.friend-name {
    font-family: SFUI;
    text-align: center;
    font-size: 0.75rem;
}
.frieFocus {
    font-weight: bold;
}

.friend-expo-list {
    display: none;
    flex-wrap: nowrap;
    overflow: auto;
    white-space: wrap;
    -webkit-overflow-scrolling: touch;
    scroll-snap-type: x mandatory;
    position: absolute;
    align-self: flex-end;
    max-width: 100vw;
    overflow-y: hidden;
    position: relative;
    z-index: 999;
    margin-bottom: 10px;
}
.friend-expo-list.show, .friend-expo {
    display: flex;
}
.friend-expo {
    height:calc(100vh - 12rem);; /* calc(100vh - 12rem); */
}
.friend-expo .expo {
    position: relative;
}
.friend-close {
    position: absolute; display: block;
    padding: 0;
    top: 1rem; right: 1rem; z-index: 1000;
    width: 1.5rem; height: 1.5rem;
    border: none; background: none;
}
.friend-close img {
    display: block;
    margin: auto;
}

.category-container {
    position: relative;
}

.category {
    height: 340px;
    display: flex;
    flex-wrap: nowrap;
    overflow: auto;
    white-space: wrap;
    -webkit-overflow-scrolling: touch;
    /* scroll-snap-type: x mandatory; */
    position: absolute;
    align-self: flex-end;
    max-width: 100vw;
    overflow-y: hidden;
    position: relative;
    z-index: 999;
    margin-bottom: 10px;
}

.category-title {
    position: sticky;
    left: 0;
    flex: 0 0 auto;
    z-index: 998;
    width: 145px;
    height: 100%;
    background-color: pink !important;
    display: flex;
    justify-content: left;
    align-items: center;
}

.category-title h2 {
    z-index: 999;
    color: white;
    font-family: SFUI;
    font-weight: bold;
    font-size: 1.0625rem;
    padding-left: 0.75rem;
    padding-right: 0.75rem;
}

.expo {
    font-family: SFUI;
    color: #ffffff;
    flex: 0 0 auto;
    width: 100vw;
    height: 100%;
    margin-bottom: 5px;
    z-index: 999;
    display: flex;
    align-items: flex-end;
    flex-direction: column;
    scroll-snap-align:  start;
}

.cate-expo::after {
    content: ""; 
    position: absolute;
    width: 100%;
    height: 100%;
    background-image: linear-gradient(to bottom, rgba(0,0,0,0) 33%, rgba(0,0,0,1) 75%);
    opacity: .7;
    z-index: 997;
}

.category-title::after {
    content: ""; 
    position: absolute;
    width: 100%;
    height: 100%;
    background-image: linear-gradient(to right, rgba(0,0,0,0) 33%, rgba(0,0,0,1) 75%);
    opacity: .7;
    z-index: 996;
    top: 0;
}

.expo-text {
    padding-left: 1rem;
    width: 100%;
    margin-top: auto;
    z-index: 999;
    margin-bottom: 1rem;
}

.expo-text h3{
    font-size: 1.375rem;
    font-family: SFUI;
    font-weight: bold;
    margin: 0.75rem 0;
}

.expo-text p{
    font-size: 1.0625rem;
    font-family: SFUI;
    font-weight: 500;
    margin-top: 0.75rem;
    margin-bottom: 0;
}

.expo-buttons {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 25px;
    width: 100%;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
    margin-bottom: 1rem;
    z-index: 999;
}

.link {
    display: block;
    filter: none;
    background: none;
    border: none;
    color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* justify-content: center; */
}
.icon-img {
    width: 25px;
}

.bottom-bar {
    position: fixed;
    bottom: 0;
    z-index: 999;
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: rgb(249,249,249,0.95);
    width: 100vw;
    /* height: 50px; */
    padding-bottom: env(safe-area-inset-bottom);
}

.bottom-button {
    font-family: SFUI;
    font-weight: 500;
    font-size: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-decoration: none;
    color: #000000;
    margin: 5px 0;
}

.bottom-button .icon-img {
    filter: none;
}